---
layout: default
feature_image: "/k100-project/Photos/09-09-2016/09-09-2016-1.jpg"
images:
  - image_path: /k100-project/Photos/01-10-2016/01-10-2016-1.jpg
    title: Apple Pie
  - image_path: /k100-project/Photos/01-10-2016/01-10-2016-2.jpg
    title: Birthday Cake
  - image_path: /k100-project/Photos/01-10-2016/01-10-2016-3.jpg
    title: Black Forest
  - image_path: /k100-project/Photos/01-10-2016/01-10-2016-4.jpg
    title: Brownie
  - image_path: /k100-project/Photos/01-10-2016/01-10-2016-10.jpg
    title: Cheese Cake
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--page  content  content--full  typeset">

    <h1>{{ page.title }}</h1>

        <ul class="photo-gallery">
        {% for image in page.images %}
            <li><img src="{{ image.image_path }}" alt="{{ image.title}}"/></li>
        {% endfor %}
        </ul>

  </article>

</main>

{% include site-footer.html %}