---
layout: default
feature_image: "/k100-project/Photos/Scrapbook_Photos/21938931235-aedb6ea791-o.jpg"
---

{% include site-header.html %}

<main class="main  container">

	<div class="content">

    <article class="article  article--page  typeset">

			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<h1>{{ collectiondata.title }}</h1>

			{{ collectiondata.description | markdownify }}

    </article>

    {% include post-list.html %}

  </div>

  {% include site-aside.html %}

</main>

{% include site-footer.html %}
